<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <title>
        {% block title %}
        {% endblock title %}
    </title>
</head>
<body>

    {% if user.is_authenticated %}
        <p>Welcome {{user.username}}</p>
        <p><a href="{% url 'Users:logout' %}" >Logout</a></p>
    {% else %}
        <p><a href="{% url 'Users:register' %}" >Register</a></p>
        <p><a href="{% url 'Users:login' %}" >Login</a></p>
    {% endif %}

    {% if messages %}
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message | safe }}
        </div>
        {% endfor %}
    {% endif %} 

    {% block body %}

    {% endblock body %}    

</body>
</html>