{% extends "Sports/base.html" %}

{% block title %}
    Slot Actions
{% endblock title %}

{% block body %}
    <p><a href="{% url 'Sports:view_slots_staff' slot.location.id %}">View all slots</a></p>
    <p>Slot {{slot.schedule.start_time|date:"g:i a"}}-{{slot.schedule.end_time|date:"g:i a"}} for {{slot.location.sport.name}} at {{slot.location.venue.name}} </p>

    <p>
        Slot Status:
        {% if slot.status == '1' %} Available
        {% elif slot.status == '2' %} Booked
        {% elif slot.status == '3' %} Maintenance
        {% else %} Holiday
        {% endif %}
    </p>
    {% if slot.status == '2' or slot.status == '1' and slot.courts_booked > 0 %}
        <p>Slot booked by:</p>
        <ul>
            {% for usr in slot.booking.all %}
                <li>
                    {{usr}}
                    {% if slot.date > today.date or slot.date == today.date and slot.schedule.start_time > today.time  %}
                        <p><a href="{% url 'Sports:cancel_slot_staff' slot.id usr.id %}" class="confirmation">Cancel Booking</a></p>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if slot.status == '3' %}
        <p><a href="{% url 'Sports:cancel_maintenance' slot.id %}">Cancel scheduled maintenance</a></p>
    {% else %}
        <p><a href="{% url 'Sports:schedule_maintenance' slot.id %}">Schedule for maintenance</a></p>
    {% endif %}
    {% if slot.status != '4' %}
        <p><a href="{% url 'Sports:holiday' slot.id %}">Cancel slot for Holiday</a></p>
    {% endif %}
{% endblock body %}
