{% extends "Sports/base.html" %}

{% block title %}
    {{sp.name}}
{% endblock title %}

{% block body %}
    <p><a href="{% url 'Sports:all_sports' %}">View all sports</a></p>
    <h1>{{sp.name}}</h1>
    {% if user.is_staff %}
        <p><a href="{% url 'Sports:edit_sport' sp.id %}">Edit Sport</a></p>
    {% endif %}

    <p>{{sp.info|linebreaks}}</p>

    <h3>Venues</h3>
    <ul>
        {% for v in ven %}
            <li>
                <p>{{v.name}}</p>
                {% if user.is_staff %}
                    <p><a href="{% url 'Sports:edit_venue' v.id %}">Edit venue</a></p>
                {% endif %}
                <p>Number of courts: {{v.no_of_courts}}</p>
                <p><a href="{% url 'Sports:available_slots' sp.id v.id %}">View Slots</a></p>
            </li>
        {% empty %}
            <li>No venue found</li>
        {% endfor %}
        {% if user.is_staff %}
            <li><a href="{% url 'Sports:add_venue' sp.id %}">Add Venue</a></li>
        {% endif %}
    </ul>

    <h3 class="eqp_cls">Equipments available</h3>
    <ul class="eqp_cls">
        {% for e in eqp %}
            <li>
                <p>{{e.name}}</p>
                <p>Qty: {{e.quantity}}</p>
                {% if user.is_staff %}
                    <p><a href="{% url 'Sports:edit_inventory' e.id %}">Edit</a></p>
                {% endif %}
            </li>
        {% empty %}
            <li>No equipments found</li>
            <!-- <style .eqp_cls{
                display:none;
            }></style> -->
        {% endfor %}
        {% if user.is_staff %}
            <li><a href="{% url 'Sports:add_inventory' sp.id %}">Add inventory</a></li>
    {% endif %}
    </ul>

{% endblock body %}
