{% extends "Sports/base.html" %}

{% block title %}
    Booked Slots
{% endblock title %}

{% block body %}
    {% if slots %}
        <p>Upcoming Slots</p>
        <ul>
            {% for s in slots %}
                {% if s.date > today.date or s.date == today.date and s.schedule.start_time > today.time  %}
                    <li>
                        <p>{{s.location}}</p>
                        <p>{{s.date}} </p>
                        <p>From: {{s.schedule.start_time|date:"g:i a"}}
                            To: {{s.schedule.end_time|date:"g:i a"}} </p>
                        <p><a href="{% url 'Sports:cancel_slot' s.id %}">Cancel Slot Booking</a></p>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

        <p>Past Slots</p>
        <ul>
            {% for s in slots %}
                {% if s.date > today.date or s.date == today.date and s.schedule.start_time > today.time  %}

                {% else %}
                    <li>
                        <p>{{s.location}}</p>
                        <p>{{s.date}} </p>
                        <p>From: {{s.schedule.start_time|date:"g:i a"}}
                            To: {{s.schedule.end_time|date:"g:i a"}} </p>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <p>You have not booked any slot</p>
    {% endif %}
{% endblock body %}